@using DbContextTraining.Models;
@model IndexViewModels
@{
    Layout = "_layout";
}
<h1>Todos for today:</h1>
<form action="" method="POST">
    Search for TODO
    <input type="text" id="search" name="search" placeholder="search within title or description" />
    <Label for="assignee">Assigned to</Label>
    <select name="assigneeid" id="assigneeid">
        <option value=""></option>
        @{foreach (var assignee in Model.MyAssignees)
            {
                <option value="@assignee.Id">@assignee.Name</option>
            }
        }
    </select>
    <input type="checkbox" id="IsNotDone" name="IsNotDone" value="true" />
    <Label for="IsNotDone">Only active?</Label>
    <input type="submit" value="Search" />
</form>
<table>
    <tr>
        <th class="cell">ID</th>
        <th class="cell">TITLE</th>
        <th class="cell">DESCRIPTION</th>
        <th class="cell">ASSIGNEE</th>
        <th class="cell">DONE</th>
        <th class="cell">URGENT</th>
    </tr>
    @foreach (var todo in Model.MyTodos)
    {
<tr>
    <td class="cell">@todo.Id</td>
    <td class="cell">@todo.Title</td>
    <td class="cell">@todo.Description</td>
    @if (todo.Assignee != null)
    {
        <td class="cell">@todo.Assignee.Name</td>
    }
    else
    {
        <td class="cell">no Assignee</td>
    }
    @{if (todo.IsDone)
        {
            <td class="cell">&#9989;</td>
        }
        else
        {
            <td class="cell">&#10060;</td>
        }}
    @{if (todo.IsUrgent)
        {
            <td class="cell">&#9889;</td>
        }
        else
        {
            <td class="cell">&#8764;</td>
        }}
    <td class="cell"><a href="/delete?id=@todo.Id" onClientClick="return confirm('Are you sure you want to delete?')";>delete</a></td>
    <td class="cell"><a href="/update?id=@todo.Id">update</a></td>
</tr>
    }
</table>




