@using Redit.Models;
@model Redit.Models.ViewModels.IndexViewModel
@{
    Layout = "_layout";
}
<a href="/submit">Submit new post</a>
<h1>Trending posts</h1>
<p></p>
<table>
    <tr>
        <th class="cell">&#128077;</th>
        <th class="cell">Score</th>
        <th class="cell">&#128078;</th>
        <th class="cell">Post</th>
        <th class="cell">Author</th>
        <th class="cell">Created</th>
    </tr>
    @foreach (var post in Model.MyPosts)
    {
        <tr>
            <td class="cell"><a href="/vote?id=@post.Id&value=1">&#128077;</a></td>

            @* HACK rework after Login and User finished *@
            <td class="cell">@post.WorkVotes</td>
            @* HACK rework after Login and User finished *@

            <td class="cell"><a href="/vote?id=@post.Id&value=-1">&#128078;</a></td>
            <td class="cell"><a href="@post.Link">@post.Text</a></td>
            <td class="cell">@post.Author.Name</td>
            <td class="cell">@post.Created</td>
        </tr>
    }
</table>
@if (ViewBag.Page > 0)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })">&laquo; Prev</a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })">Next &raquo;</a>
}
@* TODO add page numbers *@