@using TodoApp.Models;
@model IndexViewModels
@{
    Layout = "_layout"; var todo = Model.MyTodo; var assignees = Model.MyAssignees;
}

<form action="" method="POST" id="updatetodo">
    Update selected TODO
    <Label for="title">Title</Label>
    <input type="text" id="title" name="title" required autofocus value="@todo.Title" />
    <Label for="description">Description</Label>
    <input type="text" id="description" name="description" value="@todo.Description" />
    <Label for="assignee">Assigned to</Label>
    <select name="assigneeid" id="assignee" form="updatetodo">
        <option value="@todo.AssigneeId">@todo.Assignee.Name</option>
        @{foreach (var assignee in assignees)
            {
                <option value="@assignee.Id">@assignee.Name</option>
            }
        }
    </select>
    <input type="checkbox" asp-for="IsDone" id="IsDone" name="IsDone" value="true" checked="@todo.IsDone">
    <Label for="IsDone">Is done</Label>
    <input type="checkbox" asp-for="IsUrgent" id="IsUrgent" name="IsUrgent" value="true" checked="@todo.IsUrgent">
    <Label for="isUrgent">Is urgent</Label>
    <input type="submit" value="Submit">
</form>


